@{
    TempData["FunctionId"] = @"ReactLabDemo"; // <-- 請變更
    TempData["Title"] = @"React Demo"; // <-- 請變更
    TempData["Breadcrumb"] = @"";
    TempData["EntryFormNo"] = Convert.ToString(ViewContext.RouteData.Values["id"]).ToUpper();
    TempData["EntryMode"] = Convert.ToString(ViewContext.RouteData.Values["mode"] ?? "INIT").ToUpper();
    TempData["AntiForgeryToken"] = ViewFunctions.GetAntiForgeryToken();
}

<div id="app"></div>

@section scripts{
    @Html.Partial("~/Views/Shared/_ReactAppInit.cshtml")
}